* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
h6 {
    font-size: 2rem;
}
.navContainer {
    width: 100vw;
    height: 20vh;
    background-color: grey;
}